.nav {
  background-color: #1a1a1a;
  color: white;
  text-transform: capitalize;

  .container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    .brand {
      font-size: calc(0.8rem + 0.5vw);
    }

    .menuIcon {
      display: none;
      cursor: pointer;
    }
    .menuTop {
      display: none;
    }
    .menus {
      display: flex;
      align-items: center;
      gap: 10px;
      list-style: none;
      .li {
        padding: 10px 0;
      }
      .menu {
        color: white;
        text-decoration: none;
        width: 100%;
      }

      .dropdownContainer {
        position: relative;
        top: 0;
        padding: 10px 0;
        cursor: pointer;
        &:hover .dropdownMenu {
          display: block;
        }
        .dropdownMenu {
          position: absolute;
          top: 100%;
          left: -50Px;
          background-color: #1a1a1a;
          display: none;
          min-width: 200px;
          .dropdownItem {
            padding: 10px;

            a {
              text-decoration: none;
              color: white;
              width: 100%;
            }
            &:hover {
              background-color: black;
              a {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

.footer {
  height: 200px;
  display: flex;
  align-items: center;
  background: #1a1a1a;
  justify-content: center;
  color: white;
  text-transform: capitalize;
}

@media screen and (max-width: 500px) {
  .nav .container {
    .menuIcon {
      display: block;
    }
    .minNav {
      left: -100%;
      transition: 0.3s linear;
    }
    .minNav_s {
      left: 0%;
      transition: 0.3s linear;
    }
    .menus {
      display: block;
      position: fixed;
      top: 0;
      background-color: #1a1a1a;
      height: 100%;
      width: 300px;

      .menuTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        font-size: calc(1rem + 0.8vw) !important;
        a {
          text-decoration: none;
          text-transform: uppercase;
          color: white;
          width: 100%;
        }
        .close {
          cursor: pointer;
        }
      }

      .li {
        padding: 10px 15px;
        &:hover {
          background-color: black;
        }
      }

      .dropdownContainer {
        position: unset;
        padding: 10px 15px;
        .dropdownMenu {
          position: unset;
          background-color: #222222;
          border-radius: 10px;
        }
      }
    }
  }
}
